APP_VERSION=v0.1.0-beta.3
NEXT_PUBLIC_API_URL=http://localhost:8081
NEXT_PUBLIC_APP_NAME="Engineering Portal"
NEXT_PUBLIC_COMPANY_NAME="Engineering Platform"
NEXT_PUBLIC_APP_SUBTITLE="Engineering Standards & Projects"
